.wrapper_section1 {
  height: 80vh;
  width: auto;
  display: flex;
  padding: 3.2rem 3.2rem;
  font-size: 2rem;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper_section1 img {
  width: 35%;
}

.wrapper__call {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1.6rem;
  text-align: center;
}

.wrapper_section2 {
  background-color: var(--secondary);
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem;
  gap: 3.2rem;
}

.wrapper__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
  color: var(--white);
}

.wrapper__cards {
  display: flex;
  gap: 2.4rem;
}

.card {
  background-color: var(--primary-200);
  border-radius: 4.8rem;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.card h2{
  margin-top: -4.8rem;
  background-color: var(--primary-300);
  width: 6rem;
  height: 6rem;
  border-radius: 10rem;
  text-align: center;
  color: var(--white);
}

@media screen and (max-width: 1000px) {
  .wrapper_section1 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 650px) {
  .wrapper_section1 {
    height: 60vh;
    font-size: 1.4rem;
    flex-direction: column;
    justify-content: space-around;
  }
  .wrapper__call {
    width: 100%;
    padding: 3.2rem;
  }
  .wrapper_section1 img {
    min-width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper_section1 {
    font-size: 1.4rem;
    height: 40vh;
    justify-content: space-around;
  }

  .wrapper_section1 img {
    display: none;
  }

  .wrapper__cards {
    flex-direction: column;
    gap: 2.4rem;
  }
}
