body{
  background-color: var(--background);
}
.wrapper-conteudo{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3.2rem 2.4rem;
  height: calc(100vh - 20rem) ;
  color: var(--primary-300);
  text-align: center;
  height: max-content;
}

.wrapper-img{
  width: 35%;
}

.wrapper-login-cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  width: 40%;
}

.form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2.4rem;
}

.wrapper-titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .8rem;
}

.wrapper-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  width: 100%;
}

.wrapper-buttons {
  display: flex;
  gap: 6.4rem;
}

@media screen and (max-width: 1000px){
  .wrapper-conteudo{
    flex-direction: column;
  }
  .wrapper-cadastro{
    font-size: 1.2rem;
  }
  .wrapper-img{
    display: none;
  }
  .wrapper-login-cadastro{
    width: 80%;
  }
}

@media screen and (max-width: 650px){
  .header{
    flex-direction: row;
  }
}

@media screen and (max-width: 480px){
  .wrapper-buttons {
    flex-direction: column;
    gap: 2.4rem;
  }
}