.main-frame {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding-top: 3.2rem;
  margin: 0 10%;
  color: var(--primary-300);
  gap: 1rem;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  display: flex;
  align-items: center;
}

.icon {
  padding: 10px;
  color: var(--secondary);
  min-width: 50px;
  text-align: center;
}

.input-field {
  background: transparent;
  font-family: var(--font-roboto);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.6rem;
  border: 0.2rem solid var(--primary-300);
  border-radius: 0.8rem;
  width: 100%;
  text-align: center;
}

.filtersgeneral {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  min-height: 15vh;
}

.filtertext {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1.6rem;
  text-align: center;
}

.area {
  background: transparent;
  font-family: var(--font-roboto);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.6rem;
  border: 0.2rem solid var(--primary-300);
  border-radius: 0.8rem;
  width: 100%;
  text-align: center;
}

.especialidade {
  background: transparent;
  font-family: var(--font-roboto);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.6rem;
  border: 0.2rem solid var(--primary-300);
  border-radius: 0.8rem;
  width: 100%;
  text-align: center;
}

.aplicar_filtro {
  background-color: inherit;
  border: 0.2rem solid var(--secondary);
  border-radius: 0.8rem;
  color: var(--secondary);
  font-family: var(--font-roboto);
  font-weight: 600;
  padding: 1rem 6rem;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.box_general {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  width: 100%;
}

.box_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.box_info {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

@media screen and (max-width: 1400px) {
  .card {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1000px) {
  .filtersgeneral {
    gap: 1.6rem;
    margin: 3.2rem 4.8rem;
    flex-direction: column;
  }
  .box_general {
    flex-direction: column;
    gap: 1.6rem;
  }
}

@media screen and (max-width: 650px) {
  .header {
    flex-direction: row;
  }

  .box_title h2,
  .box_info {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .filtersgeneral {
    gap: 1.6rem;
    margin: 1.6rem 0.8rem;
    flex-direction: column;
  }

  .icon {
    display: none;
  }
}
