a {
  text-decoration: none;
  color: var(--white);
}

.button-primary{
  background-color: var(--primary-300);
  color: var(--white);
  font-family: var(--font-roboto);
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  border-radius: .8rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  width: fit-content;
}

.button-primary:hover {
  opacity: 80%;
}

.button-secondary{
  background-color: inherit;
  border: 0.2rem solid var(--secondary);
  border-radius: .8rem;
  color: var(--secondary);
  font-family: var(--font-roboto);
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.button-ternary {
  background-color: unset;
  color: var(--white);
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: .8rem 3.2rem;
}

@media screen and (max-width: 1000px){
  .button-primary, .button-secondary, .button-ternary{
    padding: .8rem 1.6rem;
  }
}

@media screen and (max-width: 400px){
  .button-primary, .button-ternary{
    font-size: 1.2rem;
  }
}