.text-input{
  background-color: inherit;
  font-family: var(--font-roboto);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.6rem;
  border: 0.2rem solid var(--primary-300);
  border-radius: .8rem;
  width: 100%;
}

@media screen and (max-width: 1000px){
  .text-input{
    padding: .8rem 1.6rem;
  }
}

@media screen and (max-width: 400px){
  .text-input{
    font-size: 1.2rem;
  }
}